@font-face {
    font-family: 'Oswald Bold';
    src: url('../fonts/Oswald-Bold.eot');
    src: url('../fonts//Oswald-Bold.eot') format('embedded-opentype'),
        url('../fonts/Oswald-Bold.woff2') format('woff2'),
        url('../fonts/Oswald-Bold.woff') format('woff'),
        url('../fonts/Oswald-Bold.ttf') format('truetype'),
        url('../fonts/Oswald-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald Light';
    src: url('../fonts/Oswald-ExtraLight.eot');
    src: url('../fonts/Oswald-ExtraLight.eot') format('embedded-opentype'),
        url('../fonts/Oswald-ExtraLight.woff2') format('woff2'),
        url('../fonts/Oswald-ExtraLight.woff') format('woff'),
        url('../fonts/Oswald-ExtraLight.ttf') format('truetype'),
        url('../fonts/Oswald-ExtraLight.svg') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald Medium';
    src: url('../fonts/Oswald-Medium.eot');
    src: url('../fonts/Oswald-Medium.eot') format('embedded-opentype'),
        url('../fonts/Oswald-Medium.woff2') format('woff2'),
        url('../fonts/Oswald-Medium.woff') format('woff'),
        url('../fonts/Oswald-Medium.ttf') format('truetype'),
        url('../fonts/Oswald-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}