:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #eecbca;
  --second-brand-color: #dd9fa0;
  --third-brand-color: #aa7c8a;

  --main-font: 'Oswald Light';
  --title-font: 'Oswald Medium';
  --main-title-font: 'Oswald Bold';

  font-size: 62.5%;
}
